# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.build/
.buildlog/
.history
.svn/
.swiftpm/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/
.history/
*.code-workspace

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# iOS related
**/ios/Flutter/.last_build_id
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Flutter.podspec
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.[mh]
**/ios/Runner/GeneratedPluginRegistrant.swift
**/ios/Runner/Assets.xcassets/AppIcon.appiconset/*.png

# Android related
**/android/local.properties
**/android/**/generated
**/android/app/debug
**/android/app/profile
**/android/app/release

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Exceptions to above rules
!.keep
